<!-- Template form -->
<form class="deck-form" #deckForm="ngForm" (ngSubmit)="saveDeck()">
  <div class="button-row">
    <button type="submit" mat-raised-button color="primary"
      [disabled]="!deckForm.form.valid">
      Save deck
    </button>
    <button type="button" mat-raised-button color="warn"
      (click)="deleteDeck()">
      Delete deck
    </button>
  </div>
  <mat-form-field>
    <input
      matInput type="text" required placeholder="Title"
      name="title" [(ngModel)]="deck.title">
  </mat-form-field>
  <mat-form-field class="description-field">
    <input
      matInput type="text" required placeholder="Description"
      name="description" [(ngModel)]="deck.description">
  </mat-form-field>
</form>
<!-- Reactive form -->
<form
  class="new-card-form"
  #searchFormDirective="ngForm"
  [formGroup]="searchForm"
  (ngSubmit)="addCard(searchFormDirective)">
  <mat-form-field>
    <input
      matInput type="text" placeholder="Card name (e.g. Yeti)"
      formControlName="hsCard"
      [matAutocomplete]="hsCardSearchAutocomplete">
    <mat-error *ngIf="searchForm.get('hsCard').invalid">
      Please select a value from dropdown.
      Press enter to quickly select the first value.
    </mat-error>
    <mat-autocomplete
      #hsCardSearchAutocomplete="matAutocomplete"
      autoActiveFirstOption
      [displayWith]="hsCardToString">
      <mat-option
        *ngFor="let hsCard of hsCardSearches | async"
        [value]="hsCard">
        {{hsCard.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button
    mat-raised-button type="submit" color="primary"
    [disabled]="searchForm.invalid">
    Add card
  </button>
</form>
<app-hs-card-table
  [cards]="cards" [edit]="true" (deleteCard)="deleteCard($event)">
</app-hs-card-table>
