.deck-form {
  display: flex;
  flex-direction: column;
}

.button-row {
  margin: 10px 0;
}

.deck-form, button {
  margin-right: 10px;
}

.new-card-form {
  align-items: center;
  display: flex;
}

.new-card-form, mat-form-field {
  flex: auto;
  margin-right: 10px;
}
