<mat-toolbar color="primary">
  <span class="toolbar-title">HSDecks</span>
  <a
    mat-icon-button
    matTooltip="Home"
    routerLink="/"
    routerLinkActive="hidden"
    [routerLinkActiveOptions]="{exact: true}">
    <mat-icon>home</mat-icon>
  </a>
  <a
    mat-icon-button
    matTooltip="Profile"
    *ngIf="loggedIn"
    routerLink="/profile"
    routerLinkActive="hidden">
    <mat-icon>person</mat-icon>
  </a>
  <button
    mat-icon-button
    color="warn"
    matTooltip="Logout"
    *ngIf="loggedIn"
    (click)="logOut()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
  <a
    mat-raised-button color="accent"
    *ngIf="loggedIn"
    routerLink="/my-decks"
    routerLinkActive="hidden">
    My decks
  </a>
  <div id="google-login" [hidden]="loggedIn"></div>
</mat-toolbar>
<router-outlet></router-outlet>
<p class="disclaimer">
  Hearthstone card data is obtained from
  <a href="https://hearthstonejson.com/">hearthstonejson.com</a>.
  This website is not affiliated with Blizzard Entertainment.
</p>
