<form
  [formGroup]="newDeckForm"
  #newDeckFormDirective="ngForm"
  (ngSubmit)="createNewDeck(newDeckFormDirective)">
  <mat-form-field>
    <mat-select
      placeholder="Player class" formControlName="cardClass">
      <mat-option
        *ngFor="let cls of playerCardClasses"
        [value]="cls">
        {{cls}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="title-field">
    <input
      matInput type="text" placeholder="Title"
      formControlName="title">
  </mat-form-field>
  <mat-form-field class="description-field">
    <input
      matInput type="text" placeholder="Description"
      formControlName="description">
  </mat-form-field>
  <button
    mat-raised-button type="submit" color="primary"
    [disabled]="newDeckForm.invalid">
    Create deck
  </button>
</form>
<app-deck-list [decks]="decks" [edit]="true"></app-deck-list>
