<form
  #newDeckForm="ngForm"
  (ngSubmit)="createNewDeck(); newDeckForm.resetForm();">
  <mat-form-field>
    <mat-select
      required placeholder="Class"
      name="cardClass" [(ngModel)]="newDeck.cardClass">
      <mat-option
        *ngFor="let cls of playerCardClasses"
        [value]="cls">
        {{cls}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput type="text" required placeholder="Title" 
      name="title" [(ngModel)]="newDeck.title">
  </mat-form-field>
  <mat-form-field class="description-field">
    <input
      matInput type="text" required placeholder="Description" 
      name="description" [(ngModel)]="newDeck.description">
  </mat-form-field>
  <button
    mat-raised-button type="submit" color="primary"
    [disabled]="!newDeckForm.form.valid">
    Create deck
  </button>
</form>
<app-deck-list [decks]="decks" [edit]="true"></app-deck-list>
