<h2>Profile</h2>
<p>Edit your profile.</p>
<form
  *ngIf="user; else loading"
  [formGroup]="userForm"
  (ngSubmit)="updateUser()">
  <mat-form-field>
    <input
      matInput type="text" placeholder="Name"
      formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <input
      matInput type="text" placeholder="Email"
      formControlName="email">
  </mat-form-field>
  <mat-form-field>
    <mat-select
      placeholder="Role"
      formControlName="role">
      <mat-option [value]="'NONE'">
        None
      </mat-option>
      <mat-option [value]="'ADMIN'">
        Admin
      </mat-option>
    </mat-select>
    <mat-hint>Admins can edit any deck</mat-hint>
  </mat-form-field>
  <div>
    <button
      mat-raised-button
      type="submit"
      color="primary"
      [disabled]="userForm.invalid">
      Update profile
    </button>
    <button
      mat-button
      color="warn"
      (click)="logOut()">
      Logout
    </button>
  </div>
</form>
<ng-template #loading>
  <div>Loading profile...</div>
</ng-template>
